.productsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    margin:auto;
    justify-content: center;
    justify-items: center;
    width:65vw;
}
.tiendagrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    justify-content: center;
    justify-items: center;
}
.carritocontainer{
    width: 25vw;
}