.footercontainer{
    border-top: 1px solid white;
    background-color: #0A1014;
}

.footercolumns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding:2rem 1rem
}

.creditoscontainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 1px solid white;
    padding-top:1rem;
    padding-bottom:1rem;
}

.creditoscontainer a{
    color:#00A884;
    text-decoration: none;
}

.creditoscontainer p{
    color:white;
}

.titulofooter{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logocolumn h2 {
    text-align: center;
    font-size: 2rem;
}

.logocolumn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.columnafooter1 p,h2{
    color:white;
}

.numeronegocio p{
    color: white;
}

.formapagoimg{
    width: 4rem;
    height: 3rem; 
    object-fit:contain;    
}

.redesgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    justify-content:left;
    align-items: center;
    margin: left;
    width: 60%;
}

.redesicon{
    width:2rem;
    height:2rem;
    object-fit: contain;
}

img.redesicon {
    filter: invert(1);
    cursor: pointer;
}

@media (max-width: 1600px){
    .footercolumns{
        grid-template-columns: 1fr 1fr!important;
    }
}

@media (max-width: 1100px){
    .footercolumns{
        grid-template-columns: 1fr!important;
    }
}