.productCard{
    background-color: #f1f1f1;
    color:black;
    padding:20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* adds shadow on hover */
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
p.productCardName{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.2rem;
    width: 12rem;

  }
p.productCardDescription{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  width: 12rem;

}
p.productCardPrice{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 12rem;
}
  
.productCardImg {
  width:  13rem;
  height: 13rem;
  object-fit:contain;
}
img.productCardImg {
  margin: auto;
}

@media screen and (max-width: 860px){
   img.productcardimg {
    max-height: 8rem;
  }
}