.tiendaContainer{
    padding: 1rem;
}

.tiendagrid {
    display: flex;
    margin: auto;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    row-gap: 1rem;
}

.productsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    margin: auto;
    align-items: center;
}

.carritocontainer{
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 1700px){
    .productsGrid{
        grid-template-columns: 1fr 1fr 1fr!important;
    }
}

@media screen and (max-width: 1400px){
    .productsGrid{
        grid-template-columns: 1fr 1fr!important;
    }
}

@media screen and (max-width: 1100px){
    .tiendagrid{
        flex-direction:column-reverse;
    }
    .productsGrid{
        grid-template-columns: 1fr !important;
        width: 80vw;
    }
    .carritocontainer{
        width: 80vw;
    }
}