.configuracioncontainer{
    background-color: #0A1014;
    padding: 1rem;
    min-height: 100vh;
    overflow:hidden;
}

.colorselector{
    padding: 1rem;
}

.titulos{
    color:white;
    margin-top:1rem;
}

.nombrebox p{
    color:white;
}

label{
    color:white;
}
.labelcontainer{
    margin-right: 1rem;
}

.inputformcontainer{
    margin-top: 1rem;
}