.configuracioncontainer{
    background-color: #0A1014;
    padding: 1rem;

}

.colorselector{
    padding: 1rem;
}

.titulos{
    color:white;
    margin:1rem;
}

.nombrebox p{
    color:white;
}

label{
    color:white;
}
.labelcontainer{
    margin-right: 1rem;
}

.horariogrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
