.header{
    display:Grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1vw;
    width: 95vw;
    margin:auto;
    justify-items: center;
}


.menuitem {
    font-size: 1.1rem;
    font-weight: bold;
    color:black;
    cursor: pointer;
    text-align: center;
    margin: auto;
    text-decoration:none;
}

.dashboardcontainer{
    background-color: #0A1014;
    height: 100%;
}
  