.header{
    width:100%;
}

.headerbox{
    width:98vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2vw;
}

.headercontainer{
    background-color: #202C33;
    box-shadow:-10px 5px 25px -12px rgb(28 39 60 / 20%)
}

.logoheader{
    text-align: center;
}

.menuitem{
    color: white;
}