.productForm{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
    background-color: #111B21;
    color:white;
    padding:2rem;
}


.tituloform{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}

input.inputForm {
    width:90%
}

.uploadbox{
    margin-bottom:1rem;
}

.nombrebox{
    margin-bottom:1rem;
}

.descripcionbox{
    margin-bottom:1rem;
}

.preciobox{
    display: block;
    margin-bottom:1rem; 
}

input.inputForm {
    width: 90%;
    background: #202C33;
    border: none;
    padding: 0.6rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
    color:white;
}

input.inputForm::placeholder {
    color: white;
}