.header{
    display:Grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1vw;
    width: 95vw;
    margin:auto;
    justify-items: center;
}

.menuitem{
    color:white;
    text-decoration: none;
}

.menuitem {
    font-size: 0.8rem;
    color:White;
    padding: 10px;
    margin: auto;
    margin-top:10px;
    border-radius: 5px;
    border:none;
    background-color: #f15c45;
    width: 100%;
    cursor: pointer;
    text-align: center;
  }