.header{
    width:100vw;
}

.headerbox{
    width:98vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2vw;
}